@inject ITestApplicationsStore<TestApplication> testApplicationsService
@inject NavigationManager navigationManager

<section class="col-md-8 mb-4">
	<div class="card">
		<div class="card-header bg-blueberry">
			<div class="d-flex justify-content-between">
				<h5 class="h5 mb-2 mt-2"><span class="oi oi-browser" aria-hidden="true"></span> Applications</h5>
				@if (Role == "Root" || Role == "Manager" || Role == "Administrator" || Role == "Automator")
				{
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group btn-sm">
							@if (TestApplications != null)
							{
								<button class="btn btn-kiwi" @onclick="Export"><span class="oi oi-data-transfer-download"></span> Export data</button>
							}
							@if (Role == "Root" || Role == "Automator")
							{
								<button class="btn btn-grass" @onclick="Create"><span class="oi oi-plus" aria-hidden="true"></span> Add</button>
							}
						</div>
					</div>
				}
			</div>
		</div>
		<div class="card-body">
			@if (TestApplications == null)
			{
				<p><em>Loading...</em></p>
			}
			else
			{
				<RadzenDataGrid AllowFiltering="true" FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true"
							AllowPaging="true" AllowSorting="true" Data="TestApplications" TItem="TestApplication" ColumnWidth="200px" Style="height:550px">
					<Columns>
						<RadzenDataGridColumn Frozen="true" TItem="TestApplication" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
							<Template>
								@(TestApplications.IndexOf(context) + 1)
							</Template>
						</RadzenDataGridColumn>
						<RadzenDataGridColumn Frozen="true" TItem="TestApplication" Property="Name" Title="Name">
							<FooterTemplate>
								Total records: <b>@TestApplications.Count()</b>
							</FooterTemplate>
						</RadzenDataGridColumn>
						<RadzenDataGridColumn TItem="TestApplication" Property="Description" Title="Description"></RadzenDataGridColumn>
						<RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="TestApplication" Property="Status" Title="Status" Width="100px">
							<Template Context="data">
								@(data.Status == true ? "Active" : "Inactive")
							</Template>
						</RadzenDataGridColumn>
						<RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="TestApplication" Sortable="false" Filterable="false" Width="@ActionsColumnWidth">
							<Template Context="data">
								<div class="btn-group w-100">
									@if (data.Status)
									{
										<a class="btn btn-grape" title="Business processes" href="/businessProcesses/list/@data.TestApplicationId">
											<span class="oi oi-briefcase" aria-hidden="true"></span>
										</a>
									}
									else
									{
										<button class="btn btn-grape" title="Business processes" disabled>
											<span class="oi oi-briefcase" aria-hidden="true"></span>
										</button>
									}
									@if (!ShowActionButtons)
									{
										<button class="btn btn-sky" title="Details" @onclick="() => Edit(data.TestApplicationId, 2)">
											<span class="oi oi-info" aria-hidden="true"></span>
										</button>
									}
									@if (ShowActionButtons)
									{
										<button class="btn btn-olive" title="Edit" @onclick="() => Edit(data.TestApplicationId, 1)">
											<span class="oi oi-pencil" aria-hidden="true"></span>
										</button>
										<button class="btn btn-caution" title="Delete" @onclick="() => Delete(data.TestApplicationId)">
											<span class="oi oi-trash" aria-hidden="true"></span>
										</button>
									}
								</div>
							</Template>
						</RadzenDataGridColumn>
					</Columns>
				</RadzenDataGrid>
			}
		</div>
	</div>
</section>

@if (ShowCreateModal)
{
	<div class="modal fade show" style="display:block" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-blueberry">
					<h5 class="modal-title"><span class="oi oi-plus" aria-hidden="true"></span> New application</h5>
					<button type="button" class="btn-close btn-close-white" @onclick="() => Cancel(1)"></button>
				</div>
				<div class="modal-body">
					<EditForm Model="TestApplication">
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Name" @bind-Value="TestApplication.Name"></InputText>
							<label>Name</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Namespace" @bind-Value="TestApplication.NameSpace"></InputText>
							<label>Namespace</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Description" @bind-Value="TestApplication.Description"></InputText>
							<label>Description</label>
						</div>
						<div class="form-floating">
							<InputTextArea class="form-control" placeholder="Remarks" style="height:300px" @bind-Value="TestApplication.Remarks"></InputTextArea>
							<label>Remarks</label>
						</div>
					</EditForm>
				</div>
				<div class="modal-footer bg-light">
					<div class="btn-group btn-sm w-100">
						<button class="btn btn-confirm" @onclick="() => Save(1)"><span class="oi oi-check" aria-hidden="true"></span> Accept</button>
						<button type="button" class="btn btn-mist" @onclick="() => Cancel(1)"><span class="oi oi-ban" aria-hidden="true"></span> Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show"></div>
}

@if (ShowEditModal)
{
	<div class="modal fade show" style="display:block" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-blueberry">
					<h5 class="modal-title"><span class="oi oi-pencil" aria-hidden="true"></span> Edit application</h5>
					<button type="button" class="btn-close btn-close-white" @onclick="() => Cancel(2)"></button>
				</div>
				<div class="modal-body">
					<EditForm Model="TestApplication">
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Name" @bind-Value="TestApplication.Name" disabled></InputText>
							<label>Name</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Namespace" @bind-Value="TestApplication.NameSpace" disabled></InputText>
							<label>Namespace</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Description" @bind-Value="TestApplication.Description"></InputText>
							<label>Description</label>
						</div>
						<div class="form-floating mb-3">
							<InputTextArea class="form-control" placeholder="Remarks" style="height:300px" @bind-Value="TestApplication.Remarks"></InputTextArea>
							<label>Remarks</label>
						</div>
						<div class="form-check">
							<InputCheckbox id="status" class="form-check-input" typeof="checkbox" @bind-Value="TestApplication.Status"></InputCheckbox>
							<label for="status" class="form-check-label">Activate/Deactivate</label>
						</div>
					</EditForm>
				</div>
				<div class="modal-footer bg-light">
					<div class="btn-group btn-sm w-100">
						<button class="btn btn-confirm" @onclick="() => Save(2)"><span class="oi oi-check" aria-hidden="true"></span> Accept</button>
						<button type="button" class="btn btn-mist" @onclick="() => Cancel(2)"><span class="oi oi-ban" aria-hidden="true"></span> Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show"></div>
}

@if (ShowDetailsModal)
{
	<div class="modal fade show" style="display:block" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-blueberry">
					<h5 class="modal-title"><span class="oi oi-info" aria-hidden="true"></span> Application details</h5>
					<button type="button" class="btn-close btn-close-white" @onclick="() => Cancel(null)"></button>
				</div>
				<div class="modal-body">
					<EditForm Model="TestApplication">
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Name" @bind-Value="TestApplication.Name" disabled></InputText>
							<label>Name</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Namespace" @bind-Value="TestApplication.NameSpace" disabled></InputText>
							<label>Namespace</label>
						</div>
						<div class="form-floating mb-3">
							<InputText class="form-control" placeholder="Description" @bind-Value="TestApplication.Description" disabled></InputText>
							<label>Description</label>
						</div>
						<div class="form-floating">
							<InputTextArea class="form-control" placeholder="Remarks" style="height:300px" @bind-Value="TestApplication.Remarks" disabled></InputTextArea>
							<label>Remarks</label>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show"></div>
}

@if (IsLoading)
{
	<div class="modal fade show" style="display:block" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-sm modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-blueberry">
					<h5 class="modal-title"><span class="oi oi-clock" aria-hidden="true"></span> Wait...</h5>
				</div>
				<div class="modal-body" style="min-height:250px">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show"></div>
}

@code {
	private IList<TestApplication> TestApplications;
	private TestApplication TestApplication = new();
	private Boolean IsLoading = false;
	private Boolean ShowCreateModal = false;
	private Boolean ShowEditModal = false;
	private Boolean ShowDetailsModal = false;
	private Boolean ShowActionButtons = false;
	private String ActionsColumnWidth;
	private String Role;

	private async Task Export()
	{
		IsLoading = true;

		try
		{
			var dataTable = new DataTable("Applications");

			dataTable.Columns.AddRange(new DataColumn[5]
			{
				new DataColumn("#"),
				new DataColumn("Name"),
				new DataColumn("Description"),
				new DataColumn("Remarks"),
				new DataColumn("Status")
			});

			foreach (var testApplication in TestApplications)
				dataTable.Rows.Add((TestApplications.IndexOf(testApplication) + 1),
				testApplication.Name,
				testApplication.Description,
				testApplication.Remarks,
				testApplication.Status == true ? "Active" : "Inactive");

			var workBook = new XLWorkbook();
			var workSheet = workBook.Worksheets.Add(dataTable);

			workSheet.RangeUsed().Style.Font.FontName = "Cambria";
			workSheet.ColumnsUsed().AdjustToContents();

			var memoryStream = new MemoryStream();

			workBook.SaveAs(memoryStream);

			await FileSaver.SaveAsync($"Applications.xlsx", memoryStream, default);
		}
		catch (Exception)
		{
			await App.Current.MainPage.DisplayAlert("Incorrect", "An unexpected error occurred!", "Ok");
		}

		await Task.Delay(1000);

		IsLoading = false;
	}

	private async Task LoadTestApplications() => TestApplications = await testApplicationsService.GetTestApplicationsAsync();

	private void Create() => ShowCreateModal = true;

	private async Task Edit(String id, Int32 action)
	{
		if (Connectivity.NetworkAccess == NetworkAccess.Internet)
		{
			TestApplication = await testApplicationsService.GetTestApplicationAsync(id);

			if (TestApplication != null)
			{
				if (action == 1)
					ShowEditModal = true;
				else
					ShowDetailsModal = true;
			}
			else
				await App.Current.MainPage.DisplayAlert("Incorrect", "Application information not found!", "Ok");
		}
		else
			await App.Current.MainPage.DisplayAlert("Connection error", "Please check your internet connection and try again!", "Ok");
	}

	private async Task Save(Int32 action)
	{
		if (String.IsNullOrEmpty(TestApplication.Name) && String.IsNullOrWhiteSpace(TestApplication.Name) ||
			String.IsNullOrEmpty(TestApplication.NameSpace) && String.IsNullOrWhiteSpace(TestApplication.NameSpace) ||
			String.IsNullOrEmpty(TestApplication.Description) && String.IsNullOrWhiteSpace(TestApplication.Description))
			await App.Current.MainPage.DisplayAlert("Warning", "One or more fields are empty!", "Ok");
		else
		{
			if (!(TestApplication.NameSpace.Count(x => x == '.') == 3))
				await App.Current.MainPage.DisplayAlert("Warning", "No valid namespace entered!", "Ok");
			else
			{
				if (Connectivity.NetworkAccess == NetworkAccess.Internet)
				{
					if (action == 1)
					{
						TestApplication.TestApplicationId = Guid.NewGuid().ToString();
						TestApplication.Status = true;

						var testApplication = await testApplicationsService.AddTestApplicationAsync(TestApplication);

						if (testApplication != null)
						{
							ShowCreateModal = false;
							TestApplication = new();
						}
					}
					else
					{
						var testApplication = await testApplicationsService.UpdateTestApplicationAsync(TestApplication);

						if (testApplication != null)
						{
							ShowEditModal = false;
							TestApplication = new();
						}
					}

					await LoadTestApplications();
				}
				else
					await App.Current.MainPage.DisplayAlert("Connection error", "Please check your internet connection and try again!", "Ok");
			}
		}
	}

	private void Cancel(Int32? action)
	{
		if (action == 1)
			ShowCreateModal = false;
		else
		{
			if (action == 2)
				ShowEditModal = false;
			else
				ShowDetailsModal = false;
		}

		TestApplication = new();
	}

	private async Task Delete(String applicationId)
	{
		if (await App.Current.MainPage.DisplayAlert("Delete", "Are you sure to delete this application?", "Yes", "No"))
		{
			if (Connectivity.NetworkAccess == NetworkAccess.Internet)
			{
				await testApplicationsService.DeleteTestApplicationAsync(applicationId);
				await LoadTestApplications();
			}
			else
				await App.Current.MainPage.DisplayAlert("Connection error", "Please check your internet connection and try again!", "Ok");
		}
	}

	protected override async Task OnInitializedAsync()
	{
		if (Preferences.ContainsKey("role"))
			Role = Preferences.Get("role", null) as String;

		if (Role == "Root" || Role == "Manager" || Role == "Administrator" || Role == "Automator")
		{
			ShowActionButtons = true;
			ActionsColumnWidth = "160px";
		}
		else
			ActionsColumnWidth = "110px";

		if (Connectivity.NetworkAccess == NetworkAccess.Internet)
			await LoadTestApplications();
	}
}